.flag {
  width: 300px;
  height: 200px;
  border: solid 2px black;
  display: inline-block;
  margin-right: 20px;
  margin-top: 10px;
}
.Austria {
  background: linear-gradient(to top, red 0 33%, white 33% 66%, red 66% 100%);
}
.Belgium {
  background: linear-gradient(
    to right,
    black 0 33%,
    yellow 33% 66%,
    red 66% 100%
  );
}
.Benin {
  background: linear-gradient(to right, green 0 25%);
}

.Benin-2 {
  width: 175px;
  height: 200px;
  background: linear-gradient(to bottom, yellow 0 50%, red 0 50%);
  float: right;
}
.Buddhism {
  background: linear-gradient(
    to right,
    blue 0 18%,
    yellow 18% 34%,
    red 34% 50%,
    white 50% 66%,
    orange 66% 100%
  );
}
.Buddhism-2 {
  width: 40px;
  height: 150px;
  float: right;
  background: linear-gradient(
    to top,
    white 0 25%,
    red 25% 50%,
    yellow 50% 75%,
    blue 75% 100%
  );
}
.Austria::before {
  content: "Austria";
}
.Belgium::before {
  content: "Belgium";
  color: white;
}
.Benin::before {
  content: "Benin";
}

.Buddhism::before {
  content: "Buddhism ";
}
